{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DC-Home</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

</head>

<body>
	<header>
		<div class="logo"><span>D</span>iploma <span>C</span>racker</div>
		<div class="hamburger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
		<nav class="nav-bar">
			<ul>
				<li>
					<a href="{% url 'index' %}" class="active">Home</a>
				</li>
				<li>
					<a href="{% url 'topper' %}">Topper Bot</a>
				</li>
				<li>
					<a href="{% url 'coding' %}">Coding Subjects</a>
				</li>
				<li>
					<a href="{% url 'theory' %}">Theory Subjects</a>
				</li>
				<li>
					<a href="{% url 'timer' %}">Study timer</a>
				</li>
			</ul>
		</nav>
	</header>
	<script>
		hamburger = document.querySelector(".hamburger");
		hamburger.onclick = function () {
			navBar = document.querySelector(".nav-bar");
			navBar.classList.toggle("active");
		}
	</script>

	<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="height: 450px;"
		data-bs-interval="2000">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{% static 'images/carousel-3.jpg' %}" class="d-block w-100" height="450px" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{% static 'images/carousel-2.jpg' %}" class="d-block w-100" height="450px" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{% static 'images/carousel-1.jpg' %}" class="d-block w-100" height="450px" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<div class="container-fluid full">

		<div class="row" style="height: 80px;">
			<span>NUMBER OF VISITOR'S :</span>
		</div>
		<div class="row" style="height: 50px;">

			<!-- hitwebcounter Code START -->
			<a href="https://www.hitwebcounter.com" class="count">
				<img width="180px"
					src="https://hitwebcounter.com/counter/counter.php?page=17153907&style=0010&nbdigits=5&type=page&initCount=10"
					title="Counter Widget" Alt="Visit counter For Websites" /></a>
		</div>
		<hr class="horizontal-line">

		<div class="row info">
			<h1>About the Project :-</h1>

			<p>Diploma Cracker is an innovative platform developed by students pursuing a Diploma in Computer
				Technology(CM) at <span class="bvit">Bharati Vidyapeeth Institute of Technology, Navi Mumbai.</span> The
				website is designed to address everyday academic challenges faced by both students and teachers, making
				it easier for them to access and share valuable resources.
				<br>
				<br>
				For students, the platform offers organized access to study materials and important questions from
				previous years, allowing them to prepare more effectively. An interactive Q&A feature further enhances
				the learning experience by enabling students to ask questions directly to high-achieving "toppers" for
				additional guidance and support.
				<br>
				<br>
				Teachers benefit from a streamlined process for sharing notes, presentations, and other resources,
				simplifying communication with their classes and ensuring that essential materials are easily accessible
				to all students.
				<br>
				<br>
				The platform also categorizes subjects into coding and theory, allowing students to easily access all
				PowerPoint presentations for each unit. Model answers are available as well, providing students with
				valuable resources to enhance their understanding and exam preparation.
				<br>
				<br>
				The website also includes a built-in Study Timer aimed at helping students stay focused. By setting
				structured, timed study sessions, students can better manage their schedules, reduce distractions, and
				maintain concentration.
				<br>

				Overall, Diploma Cracker is designed to be a comprehensive tool that supports both learning and
				teaching, fostering academic growth and efficiency for diploma students and teachers alike.
			</p>
		</div>
		<hr class="horizontal-line">


		<div class="row faculty">
			<h1>Special Thanks:-</h1>
			<p>Throughout our Capstone project journey, the <span class="bvit">Computer Technology (CM)</span> faculty
				provided invaluable support, guiding us from the initial stages whenever we encountered doubts and
				helping us stay on the right path. We are deeply grateful to the CM faculty for their dedication and
				encouragement, which made this project possible.</p>
			<br>
			<br>
			<br>
			<br>
			<h2>Project Guide:- Mr. Mithun Mhatre</h2>
			<h2>Project Guide:- Ms. Pournima Kamble</h2>

		</div>
		<hr class="horizontal-line">

		<div class="row developer">
			<h1>From Developers:-</h1>
			<p>This project is developed by three students from TYCM-1 with great effort and dedication. Our main focus
				was to address the challenges we faced during our academic journey, ensuring that future generations do
				not encounter the same issues. We believe that our project will help strengthen their academic
				experience and contribute positively to their learning.</p>

		</div>
		<hr class="horizontal-line">
		<div class="row developer">
			<h1 class="">Contact Us:-</h1>
			<!-- ROHIT NALAVADE -->
			<div class="col-md-2 col-sm-8 mt-3 pt-3"></div>
			<div class="col-md-3 col-sm-8 mt-3 pt-3 ">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="color: aliceblue;">(Github Profile)</h5>
						<p class="card-text">Mr.Rohit Nalavade</p>
						<a target="_blank" href="https://github.com/rohitnalavade1404" class="btn btn-primary">Check
							Profile</a>
					</div>
				</div>
			</div>
			<!-- SANSKAR THORAT -->
			<div class="col-md-3 col-sm-8 mt-3 pt-3 ">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="color: aliceblue;">(Github Profile)</h5>
						<p class="card-text">Mr.Sanskar Thorat</p>
						<a target="_blank" href="https://github.com/SanskarThorat" class="btn btn-primary">Check
							Profile</a>
					</div>
				</div>
			</div>
			<!-- OMKAR GARJE -->
			<div class="col-md-3 col-sm-8 mt-3 pt-3 ">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" style="color: aliceblue;">(Github Profile)</h5>
						<p class="card-text">Mr.Omkar Garje</p>
						<a target="_blank" href="https://github.com/OmkarGarje" class="btn btn-primary">Check
							Profile</a>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-8 mt-3 pt-3"></div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</body>

</html>